@charset="utf-8";

@keyframes cacher {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fondu{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@font-face {
    font-family: 'LatoLatinWeb';
    src: url('../fonts/LatoLatin-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}

@font-face {
  font-family: 'LatoLatinWeb';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/LatoLatin-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'LatoLatinWeb';
    src: url('../fonts/LatoLatin-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'LatoLatinWeb';
    src: url('../fonts/LatoLatin-BoldItalic.woff2') format('woff2');
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: 'LatoLatinWeb';
    src: url('../fonts/LatoLatin-Italic.woff2') format('woff2');
    font-style: italic;
    font-weight: normal;
}

@font-face {
  font-family: 'Cookie';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Cookie.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body{
    font-family: 'LatoLatinWeb', sans-serif;
    margin: auto;
}

.fondu-anim, .fondu-anim2, .fondu-anim-mosaique,
.fondu-anim-menu, .fondu-anim-menu2, .fondu-anim-menu3 {
    display: block;
    animation-name: cacher, fondu;
    animation-fill-mode: forwards;
    animation-duration: 0s, 1s;
}

.fondu-anim{
    width: 100%;
    animation-duration: 0s, 0.5s;
}

.fondu-anim2{
    width: 100%;
    animation-delay: 0s, 0.25s;
}

.fondu-anim3 {
    animation-delay: 0s, 0.25s;
}

a:-webkit-any-link {
    text-decoration: none;
}

h6{
    font-family: 'LatoLatinWeb', arial;
    color: white;
    font-weight: 300;
    font-size: 28px; 
}

.titre2{
    color: white;
    background-color: #99CC00;
    margin-top: 0;
}

.titre2 h2{
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 300;
}

.titre3 {
    font-family: 'Cookie', cursive;
    color: #99CC00;
    font-size: 60px;
}

.titre3 h3{
    font-size: 60px;
}

.titre4 h4{
    font-weight: 300;
    font-size: 28px;
}

.info-pratiques h6{
    font-weight: 300;
    font-size: 28px;
}

.text-justify{
    text-align: justify;
}

.text-right{
    display: inline-block;
    float: right;
}

.sous-titre-mosaique p{
    font-weight: 300;
    color: white;
    font-size: 16px;
}

.mosaique h5 {
    font-family: 'Cookie', cursive;
    font-size: 30px;
}

.mosaique-color-1{
    background-color: #B22416;
}

.mosaique-color-2{
    background-color: #99CC00;
}

.mosaique-color-3{
    background-color: #3FA9F5;
}

.mosaique-box{
    text-align: center;
    border: solid white 5px;
    color: white;
}

.mosaique-box img {
    display: block;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    object-fit: cover;
    opacity: 0.5;
    z-index: -1;
}
.mosaique-box:hover img {
    opacity: 1;
    display: block;
}
    

.mdb-home-carousel{
    padding: 0;
    display: block;
}

.mdb-home-carousel .carousel-inner {
    height: 65px;
}

.mdb-home-carousel-img {
    height: 100%;
    background-size: cover;
    background-position: center;
}

.carousel-indicators, .carousel-control, .carousel-caption {
    display: none;
}

.btn-ensavoirplus{
    float: right;
    font-weight: 300;
    margin: 20px 130px;
}

.btn-ensavoirplus,
.btn-ensavoirplus:focus,
.btn-ensavoirplus:active,
.btn-ensavoirplus:visited{
    background-color: #99CC00;
    border-color: #99CC00;
}

.btn-ensavoirplus:hover{
    color: #000;
    background-color: white;
}

.navbar{
    padding-top: 10px;
    min-height: 66px;
}

a[name] /* firefox */ {
    display: block;
    position: relative;
    top: -66px;
    visibility: hidden;
}

[id]:target:before /* chrome */ {
  content: "";
  display: block;
  position: relative;
  height: 66px; /* fixed header height*/
  margin-top: -66px; /* negative fixed header height */
}

.navbar-form{
    padding: 0px 0px;
    margin-right: 0px;
}

.glyphicon{
    font-size: 20px;
}

.logo img{
    height: 62px;
    width: 90px;
}

.navbar-default{
    background-color: none;
    border-color: none;
}

.mynavbar{
    border: none;
    background-color: rgba(0, 0, 0, 0.5) !important;
}
.mynavbar > .container-fluid {
    background-image: linear-gradient(90deg, rgba(153, 204, 0, 0.3), #9c0 60px, transparent 200px);
    background-size: 100% 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    padding-bottom: 1px;
}}

.navbar-default .navbar-nav li a{
    color: white;
}

.dropdown-menu{
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar-default .navbar-nav a {
    color: white !important;
    background-color: transparent !important;
}

.navbar-default .navbar-nav li a:hover{
    color: #99CC00 !important;
}

.icon-bar{
    line-height: 10px;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: white;
}

.navbar-default .navbar-toggle{
    border-color: transparent;
}

.navbar-toggle{
    background-color: transparent;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

/***************************************/


 .description-evt {
     max-height: 11em;
     overflow: hidden;
     position: relative;
 }
 .description-evt.voirEnEntier {
     max-height: initial;
 }
 .voirEnEntier .voirplus {
     display: none;
 }
 .voirplus {
     position: absolute;
     background: #fff;
     top: 9.6em;
     width: 100%;
     Xbox-shadow: 0 0 0.5em 0.5em #fff;
     cursor: pointer;
 }
 .voirplus div {
     max-width: 10em;
     padding: 0.2em;
 }


.btn-default{
    color: white;
    background-color: transparent;
    border-color: transparent;
}

.post-date {
    display: block;
    text-transform: uppercase;
    font-size: 8px;
}

.simcal-event-start-date::before {
    font-family: 'Glyphicons Halflings';
    margin-right: 0.5em;
    content: "\e023";
}

.simcal-event-address::before {
    font-family: 'Glyphicons Halflings';
    margin-left: 0.75em;
    margin-right: 0.5em;
    content: "\e062";
}

.mdb-content .simcal-default-calendar-list .simcal-event-details .mdb-content-header {
    font-size: 10px;
}
.mdb-content .simcal-default-calendar-list .simcal-event-details {
    font-size: inherit;
    line-height: inherit;
}
.simcal-event-start, .simcal-event-end {
    text-transform: uppercase;
}

.simcal-date-format {
    text-transform: uppercase;
    color: #fff;
}
footer .simcal-date-format {
    font-size: 10px;
}
.simcal-default-calendar-list dt.simcal-day-label {
    font-weight: normal;
}
footer .simcal-default-calendar-list dd.simcal-day {
    margin: 0 0 0.5em;
    padding: 2px 8px 1px;
}

/**Début FOOTER**/

footer .simcal-default-calendar-list dt.simcal-day-label > span {
    min-width: 7em;
}

footer .simcal-default-calendar-list .simcal-event-details p {
    margin: 0 0 0.5em;
}

footer li.simcal-event {
    margin-bottom: 0 !important;
}
footer .simcal-default-calendar-list dt.simcal-day-label {
    margin: 0;
}
footer .simcal-default-calendar-list .simcal-event-details {
    font-size: 14px;
    line-height: 1;
}
    
.margin-spe-contact{

    right: 10px;
}


.container-footer{
    background-color: #232323;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

.container-footer a {
    color: #fff;
}
.container-social{
    background-color: black;
    height: 60px;
    margin-right: auto;
    margin-left: auto;
}

.mentions-legales{
    padding-top: 20px;
    text-align: center;
}
.mentions-legales a {
    font-weight: 100;
    color: white;
}

.footer-text{
    font-weight: 300;
    color: white;
}

footer .mdb-sidebar {
    padding-left: 1em;
}

footer .mdb-sidebar > li {
    list-style: none;
}

/**Fin FOOTER**/


.fondu-anim-menu2 {
    border: none;
}

.change-color-menu:hover {
    background: black !important;
}    

.navbar-header .logo {
    margin-top: -7px;
    display: block;
}

.mdb-content-header {
    margin-top: -6px;
    margin-bottom: 10px;
}
.mdb-content-header .has-glyphicon {
    text-transform: uppercase;
    font-size: 10px;
    margin-right: 1em;
}

.has-glyphicon::before {
    font-family: 'Glyphicons Halflings';
    margin-right: 0.5em;
}

.mdb-contact-button {
    margin-bottom: 1em;
}

.mdb-content-footer {
    margin-top: 2em;
}

ul.share-buttons{
  list-style: none;
  padding: 1em 0 0 0;
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons .sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

@media (max-width: 500px) {
    .titre3 {
        font-size: 40px;
    }

    .titre2 h2 {
        font-size: 22px;
    }
}

/*Tablette*/

@media (min-width: 768px) {

img.alignright { float: right; margin: 0 0 1em 1em; }
img.alignleft { float: left; margin: 0 1em 1em 0; }
img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignright { float: right; }
.alignleft { float: left; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }

.navbar-header .logo {
    margin-left: -13px;
}

.fondu-anim-menu {
    width: 100%;
    animation-duration: 0s, 0.5s;
}

.fondu-anim-menu2 {
    animation-delay: 0s, 0.25s;
} 

.fondu-anim-menu3{
    animation-delay: 0s, 0.25s;
}   

.change-color-menu {
    background: #99CC00;
    border-radius: 6px
    transition-property: background, border-radius;
    transition-duration: 1s;
    transition-timing-function: linear;
}

#btnrecherche > div {
    margin-bottom: 5px;
}

#btnrecherche button:hover{
    color: #99CC00;
    background-color: transparent;
    border-color: transparent;
    visibility: visible;
}

#btnrecherche input{
    width: 35px;
    background-color: transparent;
    visibility: hidden;
    position: absolute;
    right: 150px;
    top: 20px;
}

#btnrecherche:hover input{
    width: 180px;
    background-color: white;
    transition: all 0.2s linear;
    visibility: visible;
}

.social-container{
    z-index: 9999;
}

.social-container a {
    margin: 14px 12px;
    float: right;
}
.social-container img {
    height: 20px;
}

.social-container img:hover {
    color: #99CC00;
}

.logo img{
    padding-right: 10px;
}    


.mosaique-box img {
    display: none;
}

.mosaique-box{
    height: 250px;
    padding-top: 60px;
    
 }

.mosaique h5{
    font-size: 52px;
}

.sous-titre-mosaique p{
    font-size: 20px;
}

.homePage .mdb-home-carousel .carousel-inner{
    height: 400px;
    
}

.homePage .carousel-indicators,
.homePage .carousel-control,
.homePage .carousel-caption {
    display: block;
}

.carousel-description {
    float: left;
    text-align: center;
}
.carousel-description a {
    font-family: 'Cookie', cursive;
    font-size: 50px;
    color: white;
}

.btn-ensavoirplus{
    margin: 20px 305px; 

}


}

/*Desktop*/

@media (min-width: 992px) {

.mosaique-box{
    height: 323px;
    padding-top: 80px;    
 }

.mosaique h5{
    font-size: 72px;
}


.homePage .mdb-home-carousel .carousel-inner {
    height: 450px;   
}

.titre2{
    margin-top: 0;
}

.btn-ensavoirplus{
    margin: 0 179px 0 0; 

}

.container-footer{
    padding-top: 40px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
}

.container-social{
    background-color: black;
    height: 60px;
    margin-right: auto;
    margin-left: auto;

}

}

/*Large Desktop*/

@media (min-width: 1200px) {

X.mdb-content {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    
     -webkit-column-gap: 4em;
     -moz-column-gap: 4em;
     column-gap: 4em;

    -webkit-column-rule: 1px solid #99CC00;
    -moz-column-rule: 1px solid #99CC00;
     column-rule: 1px solid #99CC00;
}
.mdb-content p {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    text-align: justify;
}
    
.mosaique-box{
    height: 390px;
    padding-top: 100px;    
}

.mosaique h5{
    font-size: 90px;
}

.homePage .mdb-home-carousel .carousel-inner{
    height: 540px;
    height: 50vh;
    max-height: 630px;
    
}

.btn-ensavoirplus{
    margin: 0 220px 20px 0; 

}


}

@media print {
  .footer-text, .share-buttons, .container-social, .mynavbar, .mdb-home-carousel {
    display: none;
  }

  a[href]:after {
    content: none !important;
  }
}
